In [1]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [2]:
train_dfx = pd.read_csv("./Training Data/Logistic_X_Train.csv")

In [3]:
train_dfx.head()

         f1        f2        f3
0 -1.239375  0.749101 -0.528515
1 -1.036070  0.801436 -1.283712
2 -0.615579  1.579521 -1.391927
3  1.335978  1.348651  1.433564
4  0.658925  1.300019  0.571603

In [4]:
train_dfy = pd.read_csv("./Training Data/Logistic_Y_Train.csv")

In [5]:
train_dfy.head()

   label
0      1
1      1
2      1
3      0
4      0

In [6]:
X_train = train_dfx.values
y_train = train_dfy.values

In [7]:
mean = np.mean(X_train,axis=0)
std = np.mean(X_train,axis=0)
X_train = (X_train-mean)/std

In [8]:
print(X_train.shape,y_train.shape)

(3000, 3) (3000, 1)

In [9]:
model = LogisticRegression()

In [10]:
model.fit(X_train,y_train.reshape((-1,)))

LogisticRegression()

In [11]:
model.coef_

array([[-0.0315413 ,  3.31632099, -0.07005849]])

In [12]:
model.intercept_

array([-1.43867284])

In [13]:
test_dfx = pd.read_csv("./Test Cases/Logistic_X_Test.csv")

In [14]:
test_dfx.head()

         f1        f2        f3
0 -0.767508 -0.261859 -2.514831
1 -1.241653  1.449001 -0.413089
2  1.925270  1.931761  1.342619
3 -1.298255  1.049761 -0.527319
4 -0.964712  0.938088 -1.186328

In [15]:
X_test = test_dfx.values

In [16]:
X_test = (X_test-mean)/std

In [17]:
print(X_test.shape)

(1000, 3)

In [18]:
predictions = model.predict(X_test)

In [19]:
predictions.shape

(1000,)

In [20]:
type(predictions)

numpy.ndarray

In [21]:
predictions_df = pd.DataFrame(predictions,columns=['label'])

In [22]:
predictions_df.head()

   label
0      1
1      1
2      0
3      1
4      1

In [23]:
predictions_df.to_csv('./output.csv',index=False)

In [24]:
model.score(X_train,y_train)

0.9953333333333333