In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')

In [4]:
data = df.values

In [5]:
data

array([[ 2.93416239e-01, -9.45598713e-01, -4.21105147e-01,
         4.06816021e-01,  5.25661832e-01, -8.21546666e+01],
       [-8.36084081e-01, -1.89228039e-01, -7.76402618e-01,
        -1.05383124e+00,  5.97996852e-01, -4.88979602e+01],
       [ 2.36425114e-01,  1.32836018e-01, -1.47722982e-01,
         6.99853963e-01, -1.87364163e-01,  7.72703707e+01],
       ...,
       [ 1.04417694e+00, -8.99206485e-01,  1.73039905e+00,
        -1.87105676e+00,  4.42519647e-01, -1.07510508e+02],
       [-1.26917290e+00, -5.05215916e-03,  1.85766873e+00,
        -1.08036482e+00,  7.36333937e-01, -4.73415578e+01],
       [-1.88400025e+00, -8.49427430e-01, -1.45227035e+00,
         4.88613076e-01,  1.45957580e+00, -1.15939003e+02]])

In [6]:
data.shape

(1600, 6)

In [7]:
data[0]

array([  0.29341624,  -0.94559871,  -0.42110515,   0.40681602,
         0.52566183, -82.15466656])

In [9]:
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
X = data[:,:-1]
y = data[:,-1]
print(X.shape,y.shape)

(1600, 5) (1600,)

In [50]:
u = np.mean(X,axis=0)
std = np.std(X,axis=0)
print(u.shape,std.shape)

(5,) (5,)

In [51]:
X = (X-u)/std

In [52]:
model.fit(X,y)

LinearRegression()

In [53]:
model.coef_

array([29.59359198, 94.65067706,  8.37544469, 45.52303635,  2.46461552])

In [54]:
theta = model.coef_

In [55]:
print(theta)

[29.59359198 94.65067706  8.37544469 45.52303635  2.46461552]

In [56]:
print(theta.shape)

(5,)

In [57]:
theta0 = model.intercept_

In [58]:
print(theta0)

0.3188353844158158

In [59]:
import numpy as np

In [60]:
print(np.dot(theta,X[1])+theta0)

-89.46019556587316

In [61]:
model.score(X,y)

0.9660939669975617

In [62]:
df_test = pd.read_csv("./Test/Test.csv")

In [63]:
df_test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [64]:
X_test = df_test.values

In [65]:
X_test.shape

(400, 5)

In [66]:
y_test = model.predict(X_test)

In [67]:
print(y_test.shape)

(400,)

In [68]:
df_sample_submission = pd.read_csv("./Test/Sample_Submission.csv")

In [69]:
df_sample_submission.head()

   Id  target
0   0       0
1   1       1
2   2       2
3   3       3
4   4       4

In [70]:
df_predictions = pd.DataFrame(data=y_test,columns=["target"])
df_predictions.index.names = ['Id']

In [71]:
df_predictions.head()

        target
Id
0   112.151684
1   115.879768
2   -25.876262
3   -47.635840
4  -102.517982

In [72]:
df_predictions.to_csv("./output.csv",index=True,columns=["target"])