# Tuples 
- tuples are immutable
- tuples are effecient and consumes less memory compared to lists

In [1]:
# List
a=[1,2,3,4]

In [2]:
id(a)

4427958528

In [3]:
a[1]=22

In [4]:
id(a)

4427958528

In [6]:
# id of the list remains same, therefore is mutable

In [8]:
# Tuple
a=(1,2,3,4)

In [9]:
a

(1, 2, 3, 4)

In [10]:
a[0]=1

TypeError: 'tuple' object does not support item assignment

In [11]:
# Tuples can't be mutated in the above way

In [14]:
def func(*args):
    print(type(args))

In [15]:
func(1,3,4)

<class 'tuple'>

In [16]:
a=5
b=9

In [17]:
# how to swap the values of a and b

In [18]:
# we can also create tuples as :
a=1,2,3,34

In [19]:
type(a)

tuple

In [20]:
a=1,2

In [21]:
c,d=a

In [22]:
c

1

In [23]:
d

2

In [24]:
a=1,2,3

In [25]:
c,d=a

ValueError: too many values to unpack (expected 2)

In [26]:
# we should always have equal number of values on the left and right side

In [28]:
a=1
b=2

In [33]:
# simple way to swap the values
a,b=b,a

In [34]:
a

2

In [35]:
a=1,2,3

In [38]:
# list method takes iterable as a paramter
a=list(a)

In [39]:
a

[1, 2, 3]

In [40]:
a=list("parv")

In [41]:
a

['p', 'a', 'r', 'v']

In [42]:
a=list(range(9))

In [43]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
a=tuple(a)

In [45]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8)

### Both the methods tuple() and list() takes an iterable as an argument and converts them to the respective types

#### Tuples can be used to return multiple values in the following way

In [56]:
# very easy way of returning multiple values and under the hood we know that Tuples are used
def addSubtract(a,b):
    return a+b,a-b

In [57]:
addSubtract(9,3)

(12, 6)

In [58]:
s,d=addSubtract(8,3)

In [59]:
s

11

In [60]:
d

5

# Dictionary
- key, value pairs
- unordered
- can be accessed using key

In [62]:
# tuples and lists are termed as ordered data structures -> accessed based on index (stored in order w.r.t. index)

In [63]:
a={
    "name": "parv",
    "marks":90,
    "subject":["eng","french"],
    "friends":{
        "xyz":"coder"
    }
}

In [64]:
a

{'name': 'parv',
 'marks': 90,
 'subject': ['eng', 'french'],
 'friends': {'xyz': 'coder'}}

In [66]:
a["name"]

'parv'

In [67]:
a["friends"]

{'xyz': 'coder'}

In [90]:
# key can be any immutable DS and value can be any data types

In [69]:
for key in a:
    print(key)

name
marks
subject
friends

In [70]:
for key in a:
    print(a[key])

parv
90
['eng', 'french']
{'xyz': 'coder'}

## Some important dict methods
- get()
- items()
- keys()
- values()
- clear()

In [71]:
for item in a.items():
    print(item)

('name', 'parv')
('marks', 90)
('subject', ['eng', 'french'])
('friends', {'xyz': 'coder'})

In [72]:
# dict.items() we get key,value tuples

In [73]:
# we can destructure the key,value tuple right away as:
for key,value in a.items():
    print(key,"=>",value)

name => parv
marks => 90
subject => ['eng', 'french']
friends => {'xyz': 'coder'}

In [74]:
for key in a.keys():
    print(key)

name
marks
subject
friends

In [76]:
for value in a.values():
    print(value)

parv
90
['eng', 'french']
{'xyz': 'coder'}

In [77]:
a["name"]

'parv'

In [79]:
a.get("name1")

In [80]:
# get is a safe method even if the key is wrong 
# if we use [] and use wrong method then error

In [83]:
# to clear out the dictionary
a.clear()

In [84]:
a

{}

### Example

In [85]:
students=[]

In [86]:
n=int(input())

2

In [87]:
for i in range(n):
    roll=int(input())
    name=input()
    branch=input()
    students.append({
        "roll-no":roll,
        "name":name,
        "branch":branch
    })

12
parv
C.S.
13
prrr
ENI

In [88]:
students

[{'roll-no': 12, 'name': 'parv', 'branch': 'C.S.'},
 {'roll-no': 13, 'name': 'prrr', 'branch': 'ENI'}]

In [89]:
for i in students:
    print(i["roll-no"])

12
13

#### Keys in dictionary can be any immutable data structure

In [91]:
# as we know tuples are immutable
# therfore
a={
    (1,3):"parv"
}

In [92]:
a[1,3]

'parv'

In [94]:
# but we can't have an immutable DS as a key
a={
    [2,3]:"parv"
}

TypeError: unhashable type: 'list'

# SETS in python
- similar to mathematical sets(discrete maths)
- unordered collections of simple objects.
- used when existence of an objec in a collection is more important than the order how it occurs
- can be used as test for membership

In [95]:
a= {1,2,2,4}

In [96]:
a

{1, 2, 4}

In [97]:
type(a)

set

In [98]:
# how to create an empty set ??
a={}

In [99]:
type(a)

dict

In [100]:
a=set()

In [101]:
type(a)

set

In [102]:
# therefore to create an empty set we use set() function

In [103]:
b={3,2,1,4}

In [104]:
a={1,23,345,22}

In [105]:
a.intersection(b)

{1}

In [106]:
a.union(b)

{1, 2, 3, 4, 22, 23, 345}

In [108]:
a-b
# returns set of elements in a but not b

{22, 23, 345}

In [109]:
# sets are not indexed

In [110]:
for item in a:
    print(item)

345
1
22
23

In [112]:
for item in a-b:
    print(item)

345
22
23

In [113]:
# all the duplicate values will be removed in the set automatically

In [114]:
a=[1,2,1,2,1,2,2]

In [117]:
# how to remove duplicates
# doesn't make sure to retain the order
list(set(a))

[1, 2]

# Comprehension of Data Structures

In [119]:
a=[]
for i in range(10):
    a.append(i*i)

In [120]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

In [121]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Syntactical sugar

In [123]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

Dictionary Comprehension

In [124]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [126]:
{i:i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [128]:
{i**2 for i in range(9) if i%2==0}

{0, 4, 16, 36, 64}

## NOT Tuple Comprehension

In [129]:
a=(i**2 for i in range(10))

In [130]:
a