# Data Structures in Python
- primitive
    - Int
    - Float
    - Bool (actually Int)
    - Strings
    - Complex
- derived
    - lists
    - tuple
    - dictionary
    - set

## Immutable data structures (mostly)
### Mutable
- List
- dict
- set

# Strings
- Collection of characters

In [1]:
## strings are immutable
## for e.g.
name="parv"
# now we can't do something like name[0]='k'. This is not allowed in python

In [2]:
name[0]

'p'

In [3]:
name[0]='k'

TypeError: 'str' object does not support item assignment

In [10]:
a="parv"

In [12]:
print(a)

parv

In [8]:
a='parv'

In [13]:
print(a)

parv

In [14]:
a='''
parv
'''

In [15]:
print(a)

parv

In [16]:
a="""
    this is again a multi line string
"""

In [17]:
a

'\n    this is again a multi line string\n'

In [18]:
print(a)

    this is again a multi line string

In [20]:
a='a'
## this is again a string

In [21]:
ord('a')

97

In [22]:
chr(65)

'A'

In [23]:
chr(2)

'\x02'

In [24]:
ord('\0')

0

### ord and chr for Strings in python
- ord is used to get the ASCII value of the passed character
- chr is used to get the character out of the passed number

## Some string operations
- format
- strip
- split
- replace
- count

### Format operation

In [29]:
a="parv"
b=2
c=3

In [30]:
print(str(a)+"-"+str(b)+"-"+str(c))

parv-2-3

In [32]:
print("%d-%d-%d" %(a,b,c))
## this is a strict format as we need to know the data types before hand

TypeError: %d format: a number is required, not str

In [34]:
print("{}-{}-{}")

{}-{}-{}

In [35]:
print("{}-{}-{}".format(a,b,c))

parv-2-3

In [37]:
# we can also add ordering
print("{1}-{0}-{2}".format(a,b,c))

2-parv-3

In [39]:
print("{lastname}, {firstname}".format(firstname="parv",lastname="budhiraja"))

budhiraja, parv

### New way of formatting strings

In [41]:
firstname="parv"
lastname="budhiraja"

In [43]:
print(f"{firstname},{lastname}")
# Most Convenient method

parv,budhiraja

### Strip Operation
- removes extra spaces on the left and right sides of the string

In [2]:
a="      parv.     "

In [45]:
print(a)

      parv.

In [5]:
a.strip?

In [4]:
print(a.strip(". "))

parv

In [7]:
input?

### Split operation

In [47]:
a=input()

1 2 3 4 5

In [48]:
print(a)

1 2 3 4 5

In [49]:
type(a)

str

In [50]:
a

'1 2 3 4 5'

In [51]:
a.split(' ')

['1', '2', '3', '4', '5']

In [52]:
type(a.split(' '))

list

### Replace operation
- Strings are immutable

In [54]:
a="parv"
a.replace('p','q')

'qarv'

### Count operation
- returns number of occurence of substring passed as parameter

In [57]:
a.count('a')

1

# Lists in python
1. ordered data
2. mutable
3. accessed based on index
4. heterogenous

In [58]:
a=[1,2,3,4]

In [59]:
type(a)

list

In [61]:
a[0]

1

In [62]:
a=["parv",1,3,4,"hello"]

In [63]:
a[0]

'parv'

In [64]:
# it is recommended to use homogenous lists

### Operations on list

In [68]:
# get the length of the list
len(a)

5

In [69]:
# Concatenation
a+a

['parv', 1, 3, 4, 'hello', 'parv', 1, 3, 4, 'hello']

In [70]:
# multiplication (basically concatenates x times)
a*3

['parv', 1, 3, 4, 'hello', 'parv', 1, 3, 4, 'hello', 'parv', 1, 3, 4, 'hello']

In [71]:
a

['parv', 1, 3, 4, 'hello']

In [73]:
# Membership in list
1 in a

True

In [74]:
# Iterable as well
for x in a:
    print(x)

parv
1
3
4
hello

### Indexing and list slicing

In [75]:
a

['parv', 1, 3, 4, 'hello']

In [76]:
a[0]

'parv'

In [78]:
a[len(a)-1]

'hello'

In [79]:
a[-1]

'hello'

In [80]:
a[-2]

4

In [81]:
a="parv"

In [83]:
# backward indexing also works for Strings
a[-1]

'v'

### Slicing in lists

In [8]:
a=[1,3,45,3,34]

In [9]:
# a[start:end]   --- [start,end)
a[1:4]

[3, 45, 3]

In [88]:
# third arguments is jump
a[0:5:2]

[1, 45, 34]

In [89]:
a="parv"

In [2]:
a=[1,2,3,4]

In [10]:
# most elegant way to reverse the list
a[::-1]

[34, 3, 45, 3, 1]

In [3]:
a[::1]

[1, 2, 3, 4]

In [7]:
a[::-1]

[4, 3, 2, 1]

In [93]:
a="parv"

In [8]:
a==a[::-1]
# checking for a palindromic string

False

In [95]:
a="ada"

In [96]:
a==a[::-1]

True

### Updating the list
- insert
- append

In [97]:
a=[1,2,3,4,5]

In [102]:
# first argument - index
# second argument - new value to be inserted
a.insert(1,'parv')

In [103]:
a

[1, 'parv', 'parv', 2, 3, 4, 5, 'budhiraja']

In [104]:
a.append('budhiraja')

In [105]:
a

[1, 'parv', 'parv', 2, 3, 4, 5, 'budhiraja', 'budhiraja']

### Deleting list elements
- del
- pop
- remove

In [106]:
a

[1, 'parv', 'parv', 2, 3, 4, 5, 'budhiraja', 'budhiraja']

In [107]:
a=[1,2,3,4,5]

In [120]:
# by default removes the last element
a.pop()

'parv'

In [109]:
a

[1, 2, 3, 4]

In [110]:
# takes index as an argument and removes that
a.pop(1)

2

In [111]:
a

[1, 3, 4]

In [112]:
a.insert(1,2)

In [113]:
a

[1, 2, 3, 4]

In [114]:
a.append(5)

In [115]:
a

[1, 2, 3, 4, 5]

In [149]:
a=["parv","budhiraja","parv"]

In [150]:
# removes first occurrence of the value passed
if "parv" in a:
    a.remove("parv")

In [151]:
a

['budhiraja', 'parv']

In [152]:
del a[1]

In [153]:
a

['budhiraja']

In [154]:
del a

In [155]:
a

NameError: name 'a' is not defined

### Sorting and reversing

In [12]:
a=[1,23,43,123,33,2,9]

In [159]:
# returns a sorted list
sorted(a)

[1, 2, 9, 23, 33, 43, 123]

In [160]:
# sorts in-place
a.sort()

In [161]:
a

[1, 2, 9, 23, 33, 43, 123]

In [162]:
a.reverse()

In [13]:
a

[1, 23, 43, 123, 33, 2, 9]

In [14]:
for i in reversed(a):
    print(i)

9
2
33
123
43
23
1

In [9]:
sorted?

In [9]:
string = "parv"
string = list(string)
print(string)
print(type(string))
string.sort()
print(string)

['p', 'a', 'r', 'v']
<class 'list'>
['a', 'p', 'r', 'v']